CompileFlags:
  Add:
    # —— 告诉 clangd 你是为 aarch64 内核模块编译的 ——
    - --target=aarch64-linux-gnu
    - -std=gnu17

    - "-D__KERNEL__"
    - "-DMODULE"

    # —— 核心 include 路径 ——
    - -isystem
    - /usr/src/linux-headers-5.10.160-rockchip-rk3588/include

    - /usr/src/linux-headers-5.10.160-rockchip-rk3588/include/uapi
    - /usr/src/linux-headers-5.10.160-rockchip-rk3588/include/generated
    - /usr/src/linux-headers-5.10.160-rockchip-rk3588/include/config

    # —— 架构相关 include ——
    - /usr/src/linux-headers-5.10.160-rockchip-rk3588/arch/arm64/include
    - /usr/src/linux-headers-5.10.160-rockchip-rk3588/arch/arm64/include/generated
    - /usr/src/linux-headers-5.10.160-rockchip-rk3588/arch/arm64/include/generated/uapi
